<div class="row mt-5">


  <div class="col-lg-6 col-md-12 col-sm-6" style="border:2px solid red">
     <img src="./assets/tubnail.jpg" height="280" width="120" alt="" srcset="">

    </div>
    <div class="col-lg-6 col-md-12 col-sm-6" style="border:2px solid green">
  <!-- Title Section -->
  <div class="row">
    <div class="col-12">
      <h3 class="font-weight-bold">dfadfsa</h3>
      <span class="live-indicator">&#128308; Live</span>
      <h2 class="mt-2">33</h2>
      <p>You are a participant of this bidding.</p>
      <span class="timer-badge">288h 9m 50s remaining</span>
    </div>
  </div>
  <hr>

  <!-- History Section -->
  <div class="row mt-4">
    <div class="col-12">
      <h5>History</h5>
      <table class="table table-striped mt-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Bid Time</th>
            <th scope="col">Customer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>333.00</td>
            <td>2024-12-09T21:57:01.153</td>
            <td>1</td>
          </tr>
          <tr>
            <td>100.00</td>
            <td>2024-12-09T20:56:46.743</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Bid Input Section -->
  <div class="row mt-4">
    <div class="col-12">
      <p class="font-weight-bold">Value must be greater than or equal to <span class="text-danger">333.00</span></p>
      <div class="form-inline">
        <input type="number" class="form-control mr-2" placeholder="Enter Price" min="333.00" />
        <button class="btn btn-dark submit-btn">SUBMIT</button>
      </div>
    </div>
  </div>
    </div>



</div>
